/*----- Component Transformations -----*/

.navbar {
  display: flex;
  justify-content: space-between;
  width: auto;
  padding: 1rem 5rem;
}

/*----- Flex Elements Transformations -----*/

.navbarElements {
  display: flex;
  justify-content: flex-start;
  margin: .4rem;
  padding: .4rem;
  gap: 3rem;
  list-style-type: none;
}

#logoContainer {
  margin: 1rem 0;
}

/*----- Media Querys for Responsive Layout -----*/
@media only screen and (max-width: 1250px) {
  .navbar {
    flex-direction: column-reverse;
    align-items: center;
  }

  #languageIcon {
    display: block;
    margin: auto;
  }
}

@media only screen and (max-width: 700px) {
  .navbarElements {
    flex-direction: column;
    align-items: center;
  }

  app-nav-links{
    flex-direction: column;
    text-align: center;
  }
}
