<div class="links-container">
  <li class="item"><a class="nav-link nav-link-fade-in" href="/">Home</a></li>
  <li class="item"><a class="nav-link nav-link-fade-in" href="#">About us</a></li>
  <li class="item"><a class="nav-link nav-link-fade-in" href="#">Testimonials</a></li>
  <li class="item"><a class="nav-link nav-link-fade-in" href="#">Get Started</a></li>
  <li class="item"><a class="nav-link nav-link-fade-in" href="#">FAQs</a></li>
  <li class="item"><a class="nav-link nav-link-fade-in" href="#">Contact</a></li>
</div>
