<nav class="navbar">
  <ul class="navbarElements">
    <div  class="languageDropDown">
      <li id="languageIcon">
        <mat-icon svgIcon="EN_Icon"></mat-icon>
      </li>
      <li>
        <label for="languages"></label>
        <select name="languages" id="languages">
          <option value="english">EN</option>
        </select>
      </li>
    </div>
    <li class="item"><a class="nav-link nav-link-fade-in" href="/skytraders/src">Home</a></li>
    <li class="item"><a class="nav-link nav-link-fade-in" href="#">About us</a></li>
    <li class="item"><a class="nav-link nav-link-fade-in" href="#">Testimonials</a></li>
    <li class="item"><a class="nav-link nav-link-fade-in" href="#">Get Started</a></li>
    <li class="item"><a class="nav-link nav-link-fade-in" href="#">FAQs</a></li>
    <li class="item"><a class="nav-link nav-link-fade-in" href="#">Contact</a></li>
  </ul>
    <div id="logoContainer">
      <mat-icon svgIcon="Logo" style="width: 310px; height: 40px;"></mat-icon>
      <div class="logoFlexElements">
        <p>Connect</p>
        <mat-icon class="ellipse" svgIcon="Ellipse"></mat-icon>
        <p>Collaborate</p>
        <mat-icon class="ellipse" svgIcon="Ellipse"></mat-icon>
        <p>Trade</p>
      </div>
    </div>
</nav>




