<footer class="footer-body">
  <div class="logo-footer-container">
    <app-logo></app-logo>
    <p class="footer-paragraph" id="footer-logo-paragraph">SKYTCY Ltd, belongs to SKYTRADERS group of companies. SKYTRADERS is headquartered in Luxembourg with operational offices in Austria, Cyprus, Poland and Hong Kong. </p>
  </div>
  <div class="navigation-container">
    <p class="footer-paragraph" id="navigation-paragraph">Navigation</p>
    <ul>
      <li >Home</li>
    </ul>
  </div>
  <div class="documents-container">
    <p class="footer-paragraph" id="documents-paragraph">Documents</p>
  </div>
  <div class="button-container">

  </div>
</footer>
