/*----- Component Transformations -----*/

.header-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-spacing: .125rem;
  width: fit-content;
  margin: auto;
  word-break: break-word;
}

.header-container {
  margin: 2rem;
}

.button-container {
  padding: 2rem 5rem 2rem;
  background-color: rgba(190, 195, 200, 0.4);
  border-radius: 2rem;
  margin: 2rem;
}

.country-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 5rem;
}

.country-container > p {
  font-size: .75rem;
  backdrop-filter: blur(1em);
  border-radius: .5rem;
}

/*----- Component Elements Transformations -----*/

.primary-header {
  font-size: 2.5rem;
  font-weight: 400;
  position: relative;
}

.sub-header {
  font-weight: 400;
}

.primary-header,
.sub-header {
  backdrop-filter: blur(.125rem);
}

#header-container-subheader {
  padding: .5rem;
  line-height: 2rem;
  font-weight: 700;
}

#header-content-button {
  margin: 1.5rem;
  background-color: #9CCC3C;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: .5rem;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  transition: all 1s ease;
}

#button-link {
  text-decoration: none;
  color: #2C2B30;
}

#header-content-button:hover,
#header-content-button:focus{
  color: #001F3F;
  background-color: #fff;
}

#button-container-subheader {
  line-height: 1rem;
  padding: .5rem;
}

.button-container-paragraph {
  font-size: .75rem;
}

.ellipse {
  width: 4px;
}

/*----- Icon or SVG transformations -----*/

#heartIcon {
  display: inline-flex;
}

/*----- Animation for Text -----*/

/* FadeIn */

#header-container-subheader {
  animation: fadeInUp 2s ease;
}

@keyframes fadeInUp {
  from {
    transform: translateY(3rem);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Custom TypeWriting*/

.primary-header {
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid #9CCC3C;
  margin: 0 auto;
  animation: typewriting 3.5s steps(30, end), blink-caret .5s step-end infinite;
}

@keyframes typewriting {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #9CCC3C }
}

@media only screen and (max-width: 700px) {
  .primary-header {
    animation: none;
    white-space: normal;
    border: none;
  }
}
