<section class="header-content">
  <div class="header-container">
    <h1 class="primary-header">We love trading <mat-icon id="heartIcon" svgIcon="Heart" style="width: 48px; height: 42px;"></mat-icon> Join our Team</h1>
    <h5 class="sub-header" id="header-container-subheader">We give you money to trade. You keep up to 90% of the profits.</h5>
  </div>
  <section class="button-container">
    <p class="button-container-paragraph">for beginners & pros</p>
    <h3 class="sub-header" id="button-container-subheader">Start our qualification program</h3>
    <button id="header-content-button"><a href="#" id="button-link">Start 14 day trial now</a></button>
  </section>
  <section class="country-container">
    <p>Luxembourg</p>
    <mat-icon class="ellipse" svgIcon="Ellipse"></mat-icon>
    <p>Austria</p>
    <mat-icon class="ellipse" svgIcon="Ellipse"></mat-icon>
    <p>Cyprus</p>
    <mat-icon class="ellipse" svgIcon="Ellipse"></mat-icon>
    <p>Poland</p>
    <mat-icon class="ellipse" svgIcon="Ellipse"></mat-icon>
    <p>Hong Kong</p>
    <mat-icon class="ellipse" svgIcon="Ellipse"></mat-icon>
    <p>UAE</p>
  </section>
</section>
