/*----- Component Transformations -----*/

.header-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-spacing: .125rem;
  width: fit-content;
  margin: auto;
}

.header-container {
  margin: 2rem;
}

.button-container {
  padding: 2rem 5rem 2rem;
  background-color: rgba(190, 195, 200, 0.4);
  border-radius: 2rem;
  margin: 2rem;
}

.country-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 5rem;
}

.country-container > p {
  font-size: .75rem;
  backdrop-filter: blur(1em);
  border-radius: .5rem;
}

/*----- Component Elements Transformations -----*/

.primary-header {
  font-size: 2.5rem;
  font-weight: 400;
  position: relative;
}

.sub-header {
  font-weight: 400;
}

.primary-header,
.sub-header {
  backdrop-filter: blur(.125rem);
  border-radius: .75rem;
}

#header-container-subheader {
  padding: .5rem;
  line-height: 2rem;
  font-weight: 700;
}

#header-content-button {
  margin: 1.5rem;
  background-color: #9CCC3C;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: .5rem;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  transition: all 1s ease;
}

#button-link {
  text-decoration: none;
  color: #2C2B30;
}

#header-content-button:hover,
#header-content-button:focus{
  color: #001F3F;
  background-color: #fff;
}

#button-container-subheader {
  line-height: 1rem;
  padding: .5rem;
}

.button-container-paragraph {
  font-size: .75rem;
}

.ellipse {
  width: 4px;
}

/*----- Icon or SVG transformations -----*/

#heartIcon {
  display: inline-flex;
}

/*----- Animation for Text -----*/

/* FadeIn */

#header-container-subheader {
  animation: fadeInUp 2s ease;
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(3rem);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Custom TypeWriting - Not working yet*/

/*.primary-header::before,*/
/*.primary-header::after {*/
/*  content: "";*/
/*  position: absolute;*/
/*  top: 0;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*}*/

/*.primary-header {*/
/*  background: #000000;*/
/*  padding: 10px;*/

/*}*/

/*.primary-header::before {*/
/*  background: #000000;*/
/*  z-index: 1;*/
/*  animation: typewriting 4s steps(30) forwards;*/
/*}*/

/*.primary-header::after {*/
/*  width: 0.125em;*/
/*  background: black;*/
/*  animation: typewriter 6s steps(30) forwards;*/
/*}*/

/*.primary-header::after {*/
/*  width: 0.125em;*/
/*}*/

/*@keyframes typewriting {*/
/*  to {*/
/*    left: 100%;*/
/*  }*/
/*}*/
